.navbar-toggle-always .navbar-toggle {
    display: block;
}

html {
    height: 100%;
    min-height:100%;
}

body {
    height: 100%;
    min-height:100%;
}

#main-container {
    height: 100%;
    min-height:100%;
}

.left-nav-bar-menu {
    width: 30%;
    max-width: 300px;
    border: 1px solid #e7e7e7;
    border-width: 1px 1px 1px 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
}

#close-left-nav-bar-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.description-panel {
    min-height: 200px;
}

.calendar-cell-info {
    background-color: #ff3f38;
}

.calendar-cell-warning {
    background-color: #abaea9;
}


