<div class="col-xs-6 panel panel-default description-panel" ng-show="showed">
    <div class="form-group">
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12">Название:</label>
        <div class="col-xs-12 form-control" ng-show="!editingItemDescription">
            {{item.name}}
        </div>
        <input class="form-control" ng-model="item.name" ng-show="editingItemDescription"/>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12">Описание:</label>
        <div class="col-xs-12" ng-show="!editingItemDescription">
            {{item.description}}
        </div>
        <textarea class="form-control" ng-show="editingItemDescription" ng-model="item.description"></textarea>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <button class="btn btn-danger" ng-click="deleteItem()" ng-show="allowRedact">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Удалить
        </button>
        <button class="btn btn-deafult" ng-show="editingItemDescription" ng-click="saveEditingItem()">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            Сохранить
        </button>
        <a href="/#/viewCalendar/{{item.id}}" class="btn btn-deafult">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Календарь
        </a>
        <button class="btn btn-deafult pull-right" ng-show="!editingItemDescription && allowRedact" ng-click="toggleEditingItem()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Редактировать
        </button>
    </div>
</div>