<div class="navbar-toggle-always pull-left" ng-click="toggleMinifyed()">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="left-nav-bar-menu" ng-show="!minified">
    <button class="btn btn-default" id="close-left-nav-bar-button" ng-click="toggleMinifyed()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    CONTENT
</div>