<div class="col-xs-12 panel">
    <div class="col-xs-4">
        <button type="button" class="btn btn-default" ng-click="addItem()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Добавить предмет
        </button>
    </div>
    <form class="col-xs-4" role="search" ng-submit="searchThings()">
        <div class="form-group">
            <div class="col-xs-9">
                <input autofocus type="text" class="form-control" placeholder="Search" ng-model="thingsSearchString" ng-keypress="inputByKeyboard($event)">
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </div>
    </form>
</div>
<div ng-class="{'col-xs-12': !itemDescriptionIsShown, 'col-xs-6': itemDescriptionIsShown }">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="thing in thingsForRent">
            <div ng-show="!thing.isNew" ng-dblclick="toggleDescription(thing)">
                <span>{{thing.name}}</span>
                <button type="button" class="btn-xs btn-default pull-right" ng-click="toggleDescription(thing)"
                        ng-show="!itemDescriptionIsShown || descriptionItem.id != thing.id">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn-xs btn-default pull-right" ng-click="toggleDescription(thing)"
                        ng-show="itemDescriptionIsShown  && descriptionItem.id == thing.id">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </button>
                <div class="clearfix"></div>
            </div>

            <div ng-show="thing.isNew" ng-dblclick="toggleDescription(thing)">
                <div class="col-xs-9">
                    <input class="form-control" autofocus ng-model="thing.name"/>
                </div>
                <button type="button" class="btn btn-default" ng-click="discarbAdding(thing)">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    Отмена
                </button>
            </div>
        </li>
    </ul>
</div>
<item-description
        showed="itemDescriptionIsShown"
        item="descriptionItem"
        allowRedact="allowRedact">
</item-description>
<div class="clearfix"></div>