<div class="col-xs-12">
    <form ng-submit="submitDate()">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <input class="form-control" placeholder="Занято с" ng-model="bookedSince"/>
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="Занято по" ng-model="bookedFor"/>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default" >Зарезервировать</button>
            </div>
        </div>

    </form>

    <mwl-calendar
            view="'month'"
            view-date="nowDate"
            events="periods"
            view-title="calendarTitle"
            cell-modifier="cellModifier(calendarCell)"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            edit-event-html="'<button class=\'btn btn-default\'>Подтвердить</button>'"
            delete-event-html="'<button class=\'btn btn-default\'>Отклонить</button>'"
            on-edit-event-click="eventApprove(calendarEvent)"
            on-delete-event-click="eventDecline(calendarEvent)"
            cell-is-open="true">
    </mwl-calendar>

</div>